@import "extend";
header {
    display: flex;
    height:90px;
    width: 100%;
    position: absolute;
    z-index: 1;
   
    .container-fluid {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        ul {
          
            list-style-type: none;
            display: flex;
           @extend .center-Item;
        }
        li {
            padding-right: 70px;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        a {
            text-decoration: none;
            font-size: 18px;
            color: $color-text;
            text-transform: uppercase;
            font-family: Peb;
      
            
        }
    }
    .lang{
        padding-right: 20px;
    &__Current{
        display: flex;
        align-items: center;
        i{
            img {
                width: 10px;
                height: 5px;
                
            }

        }
        span {
            font-size: 18px;
            color: $color-text;
            text-transform: uppercase;
            padding-right: 3px;
            font-family: Peb;
        }
    }
}
}