.furniturepage {
  .product {
    --wImage: 520px;
    display: grid;
    grid-template-columns: 1fr var(--wImage);
    grid-auto-flow: dense;
    &:last-child {
      grid-template-columns: var(--wImage) 1fr;
      margin-top: 90px;
      .product__title {
        grid-column: 2/3;
        grid-row: 1/2;
        text-align: right;
      }
      .product__img {
        grid-column: 1/2;
        grid-row: 1/2;
      }
    }
    // direction: rtl;
  }
}
@media (max-width: 960px) {
  .furniturepage {
    .container {
      .product {
        &__title {
          padding-left: 0;
          h2 {
            &::before {
              display: none;
            }
          }
          &-decription {
            padding-left: 0;
          }
          &.--textRight {
              text-align: center;
              padding-right: 0;
          }
        }

        &__img {
          max-width: 95%;
        }
        .btnpro {
          padding-left: 0;
        }
      }
    }
  }
}
@media (max-width: 870px) {
  .furniturepage {
    .container {
      .product {
          display: flex;
          flex-direction: column;
        &__title {
          padding-left: 0;
          padding-top: 0;
          text-align: center;
          padding-bottom: 50px;
          h2 {
            &::before {
              display: none;
            }
          }
          &-decription {
            padding-left: 0;
          }
        }
        &__img {
          max-width: 100%;
          width: 100%;
         
        }
        .btnpro {
          padding-left: 0;
        }
      }
    }
  }
}
