.homepage {
    .slider {
        width: 100%;
        position: relative;
        height: 100vh;
        &__list {
            height: 100%;
            &-item {
                .textBox {
                    @include mid(false);
                    z-index: 1;
                    h2 {
                        color: $color-titte;
                        letter-spacing: 18px;
                        font-size: 83.33pt;
                        text-transform: uppercase;
                        font-family: peb;
                        padding-bottom: 50px;
                    }
                    a {
                        text-decoration: none;
                        color: $color-text;
                        border: 1px solid $color-text;
                        padding: 12px 34px;
                        color: $color-text;
                        text-transform: uppercase;
                        text-align: center;
                        display: flex;
                        align-items: center;
                        margin: 0 auto;
                        letter-spacing: 3px;
                        width: max-content;
                        z-index: 1;
                        position: relative;
                        i {
                            padding-left: 10px;
                        }

                        &:after {
                            content: "";
                            width: 100%;
                            height: 100%;
                            background: $yelow-cl;
                            z-index: -1;
                            position: absolute;
                            top: 0;
                            left: 0;
                            transform: scaleX(0);
                            transform-origin: left center;
                            transition: $t;
                        }
                        &:hover {
                            &:after {
                                transform: scaleX(1);
                                transform-origin: right center;
                                transition: $t;
                            }
                        }
                    }
                    &__img {
                        @include midimg(100%);
                    }
                }
            }
        }
        &__bottom {
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            .container-fluid {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            &-paging {
                display: flex;
                justify-content: center;
                align-items: center;
                span {
                    font-size: 42px;
                    line-height: normal;
                    font-family: Peb;
                    color: $yelow-cl;
                    display: flex;
                    align-items: center;

                    &::before {
                        content: "";
                        width: 45px;
                        height: 2px;
                        display: inline-block;
                        margin-right: 10px;
                        background: $color-titte;
                        margin-right: 10px;
                    }
                }
                ul {
                    display: flex;
                    li {
                        width: 8px;
                        height: 8px;
                        background: #ffffff;
                        @include br(50%);
                        margin: 0 4px;
                        opacity: 0.5;
                        flex-shrink: 1; //để li ăn cái with
                        @include transition($t);
                        cursor: pointer;
                    }
                    & :hover,
                    &.active {
                        background: $yelow-cl;
                        @include transition($t);
                        opacity: 1;
                    }
                }
            }
            &-mouse {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                position: absolute;
                left: 50%;
                bottom: 30px;
                transform: translateX(-50%);
                img {
                    &:first-child {
                        margin-bottom: 10px;
                    }
                }
            }
            &-control {
                @include mid(true);
                .controlBtn {
                    width: 64px;
                    height: 40px;
                    border: 1px solid #ffffff;
                    @include mid(true);
                    @include transition($t);
                    &:hover {
                        background: $yelow-cl;
                        @include transition($t);
                    }
                }
            }
        }
        @media (max-width: 1190px) {
            height: 600px;
        }
        @media (max-width: 960px) {
            height: 600px;
        }
    }
}
@media (max-width: 960px) {
    .mainwrapper {
        .slider {
            &__list {
                &-item {
                    .textBox {
                        h2 {
                            font-size: 80%;
                        }
                    }
                }
            }
        }
    }
}
