.infor {
  width: 100%;
  height: 650px;
  background-image: url("../../../img/WatchVideo.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  .container {
    height: 100%;
    display: flex;

    .textbox {
      max-width: 650px;
      align-self: center;
      .yelow {
        color: $yelow-cl;
      }
      .while {
        color: $white-cl;
        line-height: 26px;
        padding: 18px 0 28px 0;
      }
      .btn-video {
        margin: 0;
        color: $white-cl;
        .playicon {
          width: 20px;
          margin-right: 10px;
        }
      }
    }
  }
}
.gallery {
  background: $black-cl;
  .textbox {
    max-width: 550px;
    .textTitleMain {
      &::before {
        display: none;
      }
    }
  }
  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 200px 200px;
    gap: 10px;

    &-item {
      overflow: hidden;
      position: relative;
      img {
        @include mid();
        min-width: 100%;
        min-height: 100%;
        object-fit: cover;
      }
    }
    .item2 {
      grid-column: 2/3;
      grid-row: 1/3;
    }
    @include xs {
      grid-template-rows: 100px 100px;
      gap: 10px;
    }
  }
}
.new {
  background: $white-cl;
  .textbox {
    max-width: 550px;

    .textTitleMain {
      &::before {
        display: none;
      }
    }
    .black {
      color: $black-cl;
      font-weight: bold;
      font-size: 18px;
      line-height: 24px;
      padding: 18px 0 28px 0;
      color: #464646;
    }
  }
  &__list {
    max-width: 100%;
    max-height: 400px;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    &-item {
      position: relative;
      max-width: 308px;
      &:first-child {
        margin-right: 22px;
      }
      &:last-child {
        margin-left: 22px;
      }
      .img {
        max-width: 100%;
        object-fit: cover;
      }
      .text {
        h3 {
          height: 58px;
          position: relative;
          text-transform: uppercase;
          @include overtext(2);

          a {
            text-decoration: none;
            color: $black-cl;
            font-weight: bold;
            font-size: 18px;
            line-height: 24px;
          }
        }
        &::before {
          content: "";
          width: 86px;
          height: 2px;
          background: $yelow-cl;
          display: block;

          margin: 20px 0;
        }
        .decription {
          color: $black-cl;
        }
      }
    }
  }
  @media (max-width: 960px) {
    .new {
      &__list {
        flex-direction: column;
        max-height: 100%;
        &-item {
          &:first-child {
            margin-right: 0;
            margin-bottom: 20px;
          }
          &:last-child {
            margin-top: 20px;
            margin-left: 0;
          }
        }
      }
    }
  }
}
.sliderGr {
  display: flex;
  align-items: center;
  width: 100%;
  overflow: hidden;
  padding: 80px 0;
  .item {
    margin: 0 15px;
    img {
      min-width: 500px;
    }
  }
}
